   table {
    width: 100%; /* Ширина таблицы */
    background: white; /* Цвет фона таблицы */
    color: white; /* Цвет текста */
    border-spacing: 1px; /* Расстояние между ячейками */
   }
   
   td {
    background: gray; /* Цвет фона ячеек */
    padding: 5px; /* Поля вокруг текста */
   }
   
   th {
    background: gray; /* Цвет фона ячеек */
    padding: 5px; /* Поля вокруг текста */
   }
